.cards-container{
    align-items: center;
}

.card-single{
    display: flex;
    justify-content: center;
}

.card-content{
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-contacto{
    height: 35rem;
}

.back-ig{
    background-color: rgb(200, 55, 172);
    color: white;
}

.block{
    width: 100%;    
}