.title-contacto{
    margin-left: 2rem;
    margin-top: 1rem;
}

.content-cards{
    align-items: center;
    margin: 1rem;
}

.card-contacto{
    align-items: center;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: row;
}

.img-contacto{
    height: 35rem;
}