.content-img-drIramain {
    padding: 1rem;
}

.figure-img-drIramain {
    display: flex;
    align-items: center;
}

.card-group{
    margin: 1rem;
    padding: 1rem;
}

.card{
    margin: 0 1rem;
}

/* @media (max-width: 280px) {
    .content-img-drIramain{
        width: 140px;
        height: auto;
    }
} */

@media (max-width: 1023px) {
    .figure-img-drIramain{
        display: flex;
        flex-direction: column;
        text-align: justify;
        align-items: center;
    }
    .figure-img-drIramain h3{
        margin-top: 1rem;
    }
}