.content-img-drIramain {
    padding: 1rem;
}

.figure-img-drIramain {
    display: flex;
    align-items: center;
}

.card-group{
    margin: 1rem;
    padding: 1rem;
}

.card{
    margin: 0 1rem;
}

@media (max-width: 1023px) {
    .figure-img-drIramain{
        display: flex;
        flex-direction: column;
        text-align: justify;
        align-items: center;
    }
    .figure-img-drIramain h3{
        margin-top: 1rem;
    }
}

@media (max-width: 280px) {
    .img-logo {
      width: 140px;
      height: auto;
    }
  
    .img-contacto {
      height: 28rem;
    }
  
    #img-estudios-1 {
      margin-top: 5.5rem !important;
    }
  }