.content-img-drIramain {
    padding: 1rem;
}

.figure-img-drIramain {
    display: flex;
    align-items: center;
}

.card-group{
    margin: 1rem;
    padding: 1rem;
}

.card{
    margin: 0 1rem;
    /* border: 1.5px solid cadetblue; */
}