.titleNavbar {
    margin: 0 7rem;
    border: 1px solid cadetblue;
    background-color: black;
}

.titleNavbar > button:hover{
    color: white;
}

.circle-icon {
    background: black;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    line-height: 1.6em;
    margin-right: 15px;
    text-align: center;
    width: 2em;
}

.navBG{
    --bs-bg-opacity: 1;
    background: rgb(72,73,75);
    color: white;
}

.logo-navbar{
    /* height: 3rem; */
    /* background-color: white; */
    border-radius: 5rem;
}