.titleNavbar {
    margin: 0 7rem;
    border: 1px solid black;
    background-color: #1c1f23;
}

.titleNavbar > button:hover {
    color: white;
}

.circle-icon {
    background: black;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    line-height: 1.6em;
    margin-right: 15px;
    text-align: center;
    width: 2em;
}

.navBG {
    --bs-bg-opacity: 1;
    background: rgb(72, 73, 75);
    color: white;
}

.logo-navbar {
    border-radius: 5rem;
}

/* telefono */
@media only screen and (max-width: 600px) {
    .content-titleNavbar {
        width: 30%;
    }
    .titleNavbar {
        display: flex;
        margin: 0;
        justify-content: center;
    }
    .navbar-nav .dropdown-menu {
        position: absolute;
    }
}


/* pc */
@media (min-width: 1023px) {
    .content-titleNavbar {
        width: 10%;
    }
    .titleNavbar {
        display: flex;
        margin: 0;
        justify-content: center;
    }
    .navbar-nav .dropdown-menu {
        position: absolute;
    }
}
